#cabecera {
    margin-top: -16px;
    margin-left:  200px;
    margin-right: 200px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    flex-direction: column;
}
#cabecera:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

#especial {
    text-decoration: none;
    color: azure;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 20px;
}