#section-inicial {
    display: inline-grid;
    background: 200px 20px #000000;
    background-size: 20px;
    inline-size: 101%;
    margin: -8px;
    color: rgb(0, 0, 0);
    position: static;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}


a:hover{
    color: #fffb00;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#botones {
    display: flex;
    align-content: space-around;
    justify-content: center;
}

button {
    display: inline-block;
    inline-size: 50px;
    justify-self: center;
    border: solid 3px rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    margin: 5px;
}
button:hover {
    border-color: #fffb00;
    background-color: #fffb00;
}

.black {
    color: black;
}

body {
    background-color: black;
}

@media screen and (max-width: 900px) {
    #head {
        inline-size: 108%;
    }
}