#navegation {
    display: flex;
    justify-content: center;
}
p {
    font-family:Arial;
    font-size:20px;
}
.cabeza {
    margin-left: 60px;
    margin-right: 60px;
    color: whitesmoke;
}
body {
    background-color: black;
}
.cabeza:hover {
    color: rgb(255, 198, 9);
    cursor: pointer;
}
